//Colors Innoactive
$blackBackground: #090E19;
$blueInno: #00AEEF;
$whiteInno: #A0A2A6;
//Colors for Articel
$greenDoc: #26A2A6;
$redDoc: #B81721;
$grayDoc: #9F9999;
$blackDoc: #000000;
$whiteDoc: #fff;
